<h1>Ask the Coach a Question..</h1>

<form action="/answer" method="get">
  <input type="text" name="answer" placeholder="Type your question here.." value="<%= params[:answer] %>">
  <input type="submit" value="Ask">
</form>
